@import "https://fonts.googleapis.com/css?family=Roboto:300,500,700";
body {
  padding: 0 !important;
  background: #fcfcfc;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }

.navbar-header {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.navbar {
  border: 0;
  margin-bottom: 20px; }

.navbar-right {
  margin-top: 20px; }

.navbar-brand img {
  display: block;
  height: 30px;
  margin-top: 10px; }

.navbar-brand img:hover {
  opacity: 0.8; }

.navbar-toggle img {
  vertical-align: middle;
  height: 10px; }

.navbar-toggle {
  justify-content: flex-end;
  margin: 0;
  border: 0 !important; }

.navbar-toggle:focus {
  background: none !important;
  border: none !important; }

.navbar-toggle:hover {
  background: none !important;
  border: none !important;
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari */
  transform: scale(1.1); }

.navbar-brand {
  padding: 0; }

.container-header {
  padding: 0 30px; }

.container {
  padding: 5px; }

.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #10365b 0, #021945 100%);
  background-image: -o-linear-gradient(top, #10365b 0, #021945 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#10365b), to(#021945));
  background-image: linear-gradient(to bottom, #10365b 0, #021945 100%);
  box-shadow: 0 3px 5px #a2a2a2;
  width: 100%; }

.left {
  float: left;
  flex: 1; }

.right {
  float: right;
  flex: 1; }

.nav.nav-tabs li a {
  color: #fff;
  border: 0;
  margin: 0; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background: transparent !important;
  border: 0;
  color: #fff !important; }

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent !important; }

.nav-tabs {
  border: 0; }

.nav-tabs > li a:hover {
  border-bottom: 3px solid #fff;
  box-sizing: border-box; }

.nav.nav-tabs li.active {
  border-bottom: 3px solid #fff; }

.tab-element {
  background: #fff;
  width: 100%;
  box-shadow: 0 0 10px #a2a2a2;
  height: 120px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  position: relative; }

.elem-1,
.elem-2,
.elem-3 {
  flex: 1; }

.elem-2 {
  float: left;
  flex: 2; }

.elem-img {
  width: 75px;
  margin-right: 20px; }

.elem-download {
  float: right;
  height: 17px; }

.tab-element h5 {
  margin: 5px 0;
  text-align: left; }

h5.elem-h5 {
  text-align: left; }

.elem-p {
  color: #8c8c8c;
  font-size: 12px;
  margin: 0 0 5px;
  text-align: left; }

.col {
  padding-bottom: 10px; }

.col-sm-3,
.col-sm-4,
.col-sm-6,
.col-xs-12 {
  padding-right: 5px !important;
  padding-left: 5px !important; }

@keyframes tap-key {
  0% {
    width: 0;
    transform: scale(0);
    background-color: rgba(0, 0, 0, 0.1);
    width: 0;
    border-radius: 50%; }
  75% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
@keyframes push-down {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 2px #a2a2a2; }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px #a2a2a2; } }
@keyframes header-tap {
  0% {
    position: absolute;
    top: 0;
    width: 0;
    height: 200px;
    border-radius: 50%;
    opacity: 0.5;
    transform: translateY(50px); }
  100% {
    width: 100%;
    height: 200px;
    border-radius: 0;
    opacity: 1;
    transform: translateY(0px); } }
@keyframes footer-tap {
  0% {
    border-radius: 50%;
    opacity: 0.6;
    transform: translateY(200px); }
  100% {
    border-radius: 0;
    opacity: 1;
    transform: translateY(0px); } }
.clicked-button {
  animation-name: push-down;
  animation-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  /* Safari and Chrome */
  transition-timing-function: linear; }

.tap-tap-test {
  position: absolute;
  animation-name: tap-key;
  animation-duration: 0.5s;
  color: black;
  width: 500px;
  height: 500px;
  overflow: overlay;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition-timing-function: linear;
  /* Safari and Chrome */
  transition-timing-function: linear; }

.element-expanded-header {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  animation-name: header-tap;
  animation-duration: 1s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear; }

.element-expanded-footer {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 320px;
  z-index: 1000;
  padding: 0 30px;
  align-items: center;
  animation-name: footer-tap;
  animation-duration: 1s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear; }

@keyframes elementSlideIn {
  0% {
    position: relative;
    top: 0;
    padding: 0 5px 10px !important; }
  1% {
    position: absolute;
    top: 300px;
    padding: 0 5px 10px !important;
    opacity: 0; }
  100% {
    opacity: 1;
    position: absolute;
    top: 200px;
    z-index: 1001;
    width: 100%;
    left: 0;
    padding: 0 !important;
    animation-name: elementSlideIn;
    animation-duration: 1s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear; } }
.element-expanded {
  position: absolute;
  top: 200px;
  z-index: 1001;
  width: 100%;
  left: 0;
  padding: 0 !important;
  animation-name: elementSlideIn;
  animation-duration: 1s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear; }

.element-expanded .tab-element {
  box-shadow: 0 0 0 #a2a2a2;
  padding-bottom: 0; }

.tab-element.tap-add.element-padding {
  padding-left: 30px;
  padding-right: 30px; }

.glyphicon {
  position: absolute;
  z-index: 10000;
  top: 20px;
  left: 20px;
  color: #fff; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fafafa;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased; }

header {
  position: absolute;
  top: 30px;
  width: calc(30px + 15em);
  left: calc(50% - 15px - 7.5em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 1em;
  font-size: 0.8em; }

header .header--text {
  letter-spacing: 1px; }

header .header--text span {
  color: #777;
  font-weight: 300;
  margin-bottom: 0; }

header .header--text a {
  display: inline-block;
  margin-top: 0;
  text-decoration: none;
  font-weight: 700;
  color: #ea4c89;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease; }

header .header--text a:hover {
  color: #ef7aa7; }

header #logo-dribbble {
  width: 2em;
  height: auto;
  fill: #ea4c89;
  -webkit-transition: fill 300ms ease;
  transition: fill 300ms ease; }

header #logo-dribbble:hover {
  fill: #ef7aa7; }

button.btnSubmit {
  outline: none;
  border: none;
  cursor: default;
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  letter-spacing: 2px;
  box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  box-sizing: border-box;
  width: 130px;
  height: 50px;
  border-radius: 35px;
  border: 2px solid;
  border-color: #009de4;
  background: none;
  color: #009de4;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }

button.btnSubmit:hover {
  cursor: pointer;
  font-size: 1.05em;
  border-color: transparent;
  background: #009de4;
  color: #fafafa; }

button.btnSubmit.clicked {
  pointer-events: none;
  -webkit-animation: anim1 200ms cubic-bezier(0.2, 0, 0.8, 1), anim2 300ms cubic-bezier(0.6, 0, 0.7, 1) 300ms 1 forwards;
  animation: anim1 200ms cubic-bezier(0.2, 0, 0.8, 1), anim2 300ms cubic-bezier(0.6, 0, 0.7, 1) 300ms 1 forwards; }

button.btnSubmit.clicked.done {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  background: #009de4;
  background: -webkit-linear-gradient(0, #009de4, #009de4);
  background: linear-gradient(0, #009de4, #009de4);
  border-width: 0;
  border-color: rgba(30, 205, 151, 0);
  color: rgba(30, 205, 151, 0);
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
  -webkit-animation: anim4 300ms cubic-bezier(0.2, 0, 0.4, 1) forwards;
  animation: anim4 300ms cubic-bezier(0.2, 0, 0.4, 1) forwards; }

svg.svg--template {
  display: none; }

svg.loader {
  position: absolute;
  width: 50px;
  height: 50px;
  overflow: visible; }

svg.loader {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 50px;
  height: 50px; }

svg.checkmark {
  height: 1.2em;
  width: 100%; }

svg .circle1 {
  stroke: #009de4;
  stroke-width: 3px;
  r: 23.5px;
  cx: 25px;
  cy: 25px;
  width: 100%;
  height: 100%;
  stroke-dasharray: 157px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: animLoading 2500ms cubic-bezier(0.6, 0, 0, 1);
  animation: animLoading 2500ms cubic-bezier(0.6, 0, 0, 1); }

svg .checkmark1 {
  fill: #fafafa; }

svg .checkmark1 .line1 {
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

svg .checkmark1 .line2 {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%; }

svg .checkmark1 .line1,
svg .checkmark1 .line2 {
  -webkit-animation: growAndRotate 500ms cubic-bezier(0.4, 0, 0, 1);
  animation: growAndRotate 500ms cubic-bezier(0.4, 0, 0, 1); }

@-webkit-keyframes anim1 {
  0% {
    font-size: 1.05em; }
  50% {
    font-size: 0.9em; }
  100% {
    font-size: 1.05emj; } }
@keyframes anim1 {
  0% {
    font-size: 1.05em; }
  50% {
    font-size: 0.9em; }
  100% {
    font-size: 1.05emj; } }
@-webkit-keyframes anim2 {
  40% {
    border-radius: 35px; }
  100%,
    20% {
    color: rgba(30, 205, 151, 0); }
  100% {
    background: none;
    border-width: 2px;
    border-color: #C5C5C5;
    border-radius: 50%;
    padding: 0;
    width: 50px; } }
@keyframes anim2 {
  40% {
    border-radius: 35px; }
  100%,
    20% {
    color: rgba(30, 205, 151, 0); }
  100% {
    background: none;
    border-width: 2px;
    border-color: #C5C5C5;
    border-radius: 50%;
    padding: 0;
    width: 50px; } }
@-webkit-keyframes animLoading {
  0% {
    stroke-dashoffset: 157px; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes animLoading {
  0% {
    stroke-dashoffset: 157px; }
  100% {
    stroke-dashoffset: 0; } }
@-webkit-keyframes anim4 {
  0% {
    border-radius: 50%;
    width: 50px; }
  40% {
    border-radius: 35px; }
  100% {
    width: 175px; } }
@keyframes anim4 {
  0% {
    border-radius: 50%;
    width: 50px; }
  40% {
    border-radius: 35px; }
  100% {
    width: 150px; } }
@-webkit-keyframes growAndRotate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.4) rotate(-5deg);
    transform: scale(0.4) rotate(-5deg); }
  100%,
    30% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0); } }
@keyframes growAndRotate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.4) rotate(-5deg);
    transform: scale(0.4) rotate(-5deg); }
  100%,
    30% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0); } }
#browserAlert {
  z-index: 10;
  display: none;
  left: 0;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  font-size: 2em; }

#browserAlert.active {
  display: block; }

#browserAlert.active span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.side-note {
  padding-top: 1em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 10em;
  min-width: 20em;
  border-top: 2px solid #aeaeae;
  background: white;
  z-index: 10;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  right: -8.5em;
  bottom: 5em;
  font-weight: 300;
  font-size: 0.7em;
  color: #aeaeae; }

.side-note a {
  color: #7b7b7b;
  margin-top: 0.3em;
  cursor: default;
  text-decoration: underline;
  color: inherit;
  font-weight: 500;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease; }

.side-note a:hover {
  color: #616161; }

@media screen and (max-width: 780px) {
  .navbar-right {
    margin-top: 0; } }

/*# sourceMappingURL=style.css.map */
